@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: black;
  --color-secondary: rgba(0, 0, 0, 0.5);
}

a.active {
  @apply bg-[#e8ecff] font-medium text-[#4f6ef8];
} 